doctype html
html(lang='en' data-ng-app='ngWebcatDocs')
  head
    title Webcat Docs
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,700' rel='stylesheet' type='text/css')
    link(rel="shortcut icon" type="image/png" href="images/favicon.png")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css")
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    app-el
      div(data-ui-view)

    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
