getting-started-project-setup {
  section {
    height: 100vh;
  }
  md-content {
    padding: 0;
  }
  md-content.main {
    padding: 0 1.5em;
  }
  .card {
    max-width: 768px;
  }
  h2.title {
    font-weight: 300;
    color: #616161;
    font-family: 'Lato';
    font-size: 1.75em;
    margin: 0;
    margin-top: .5em;
    padding: 0.5em 0;
    border-bottom: 1px solid #E0E0E0;
  }
  p {
    font-family: 'Lato'
  }
  pre {
    background: #E0E0E0;
    color: #1565C0;
    padding: 1em;
    border-radius: 3px;
    font-family: 'PT Mono'
  }
}